:root {
    --primary-color: #240C60;
    --secondary-color: #0490DB;
    --accent1-color: #f57a1a;
    --accent2-color: #FAFA20; 
    --font-family: 'Merriweather', serif;
    --font-heading: 'Libre Baskerville', serif;
}
header { 
    margin: 1rem auto 50px;
    display: grid;
    grid-template-columns: 90px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
header img {
    margin: 0 0.25rem 0 1rem;
	width: 140px;
	height: auto;
    grid-column: 1;
    place-self: center;
}
.navigation {
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: center;
}
.navigation li {
    align-content: center;
    justify-content: center;
}
nav {
    color: var(--secondary-color);
    font-size: 25px;
    padding: 1rem;
    text-align: right;
    grid-column: 2/ 3;
}
nav a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 20px;
	text-decoration: none;
}
body {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800%;
    margin: 50px auto;
    padding-top: 40px;
    position: relative;
}
.hero img {
    display:block;
    width: 100%;
    height: auto;
    float: right;
}
main {
    max-width: 840px;
    margin: auto; 
    padding: 20px;
    }
h1 {
    position:absolute;
    color: var(--primary-color);
    padding: 2rem;
    text-align: center;
    margin: 0;
}
article {
    position: absolute;
    margin-top: 20px;
    bottom: 50px;
    left: 400px;
    width: 100%;
    background-color: #FAFA20;
}
.hero article img {
    float: right;
    width: 50px;
}
.grid {
    grid-template-columns: 2fr 200px 2fr;
}
.grid img {
    grid-column: 2;
}
h2 {
    text-align: center;
}
.adventures {
    display: flex;
    justify-content: space-between;
}
.adventures img {
    width: 150px;
    height: auto;
}
.sociallinks img {
    width: 24px;
    height: 24px;
}
footer {
    display: flex;
    padding: 20px;
    margin-top: 15px;
    border-top: 1px solid #fff;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.links {

}