:root {
    --primary-color: #240C60;
    --secondary-color: #0490DB;
    --accent1-color: #f57a1a;
    --accent2-color: #FAFA20; 
    --font-family: 'Merriweather', serif;
    --font-heading: 'Libre Baskerville', serif;
}
body {
    font-family: var(--font-family); 
    mar
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
nav {
    background-color: var(--secondary-color);
    text: var(--font-family);
    font-size: 16px;
    color: var(--primary-color);
}
h1 {
    color: var(--primary-color);
    position: absolute;
}
article {
    position: absolute;
}
article img {
    float: right;
    position: relative;
}
