* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-background-color: #4682b4;
    --heading-text-color: #fbbe06;
    --heading-font: sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0, 0, 0, 0.1);
}

nav {
    background-color: var(--heading-background-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 0.5rem;
    font-size: 1.2 rem;
    text-decoration: none;
}

h1 {
    color: var(--heading-background-color);
    border-bottom: #4682b4;
}

main img {
    width: 200px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px #808080;
    float: right;
}

p {
    padding: 0;
    font-size: larger;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 2px;
    left: 165px;
}

img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #fff;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: #fbbe06;
    color: #000000f7;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}